{% extends "base" %}

{% block content %}

{{ super() }}

<h2>Exec Positions</h2>

<div class="list-group">

	{% for position in exec_positions %}

	<a href="/elections/voting/{{ position.id }}" class="list-group-item list-group-item-action">
		{{ position.title }}
	</a>

	{% endfor %}

</div>

{% endblock content %}
